Django==4.2.7
celery==5.3.4
redis==5.0.1
django-celery-beat>=2.5
# 
psycopg2-binary>=2.9
mypy==1.7.0
django-stubs>=4.2.7  # Type stubs for Django
types-redis>=4.6.0   # Type stubs for redis
types-psycopg2>=2.9.0  # Type stubs for psycopg2